{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Лицевой счёт</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'admin_account' %}">
            Лицевые счета
        </a>
    </li>
    <li class="breadcrumb-item active"> Лицевой счёт {{ account.wallet }}</li>
{% endblock %}
{% block main_content %}
<section class="content input-form">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
        <div class="page-header-spec">
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-addon">
                        №
                    </div>
                    <div class="form-control pull-right">{{ account.wallet }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <section>
                <div class="default-area">
                <div class="box-header with-border d-flex justify-content-between">
                    <h3 class="box-title">Лицевой счёт № {{ account.wallet }}</h3>
                    <div class="box-tools">
                        {% if account.get_apartment %}
                        <a href="{% url 'admin_account-transaction-create_in' %}" class="btn btn-default btn-sm">
                            <i class="fas fa-dollar-sign"></i>
                            Принять платеж
                        </a>
                        <a href="{% url 'admin_invoice-create' %}" class="btn btn-default btn-sm">
                            <i class="far fa-copy"></i>
                            Оформить квитанцию</a>
                        <a href="{% url 'admin_account-change' pk=account.id %}" class="btn btn-primary btn-sm">Редактировать счёт</a>
                        {% else %}
                        <a href="{% url 'admin_account-transaction-create_in' %}" class="disabled btn btn-default btn-sm">
                            <i class="fas fa-dollar-sign"></i>
                            Принять платеж
                        </a>
                        <a href="{% url 'admin_invoice-create' %}" class="disabled btn btn-default btn-sm">
                            <i class="far fa-copy"></i>
                            Оформить квитанцию</a>
                        <a href="{% url 'admin_account-change' pk=account.id %}" class=" btn btn-primary btn-sm">Редактировать счёт</a>
                        {% endif %}
                    </div>
                </div>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Статус</td>
                            {% if account.status == 'Active' %}
                                <td><small class="label label-success">Активен</small></td>
                            {% else %}
                                <td><small class="label label-danger">Неактивен</small></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Дом</td>
                            {% if account.get_apartment %}
                            <td><a href="{% url 'admin_house-detail' pk=account.get_apartment.floor.section.house.id %}">{{ account.get_apartment.floor.section.house.name }}</a></td>
                            {% else %}
                            <td>Не назначено</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Секция</td>
                            {% if account.get_apartment %}
                            <td>{{ account.get_apartment.floor.section.name }}</td>
                            {% else %}
                            <td>Не назначено</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Квартира</td>
                            {% if account.get_apartment %}
                            <td><a href="{% url 'admin_apart-detail' pk=account.get_apartment.id %}">{{ account.get_apartment }}</a></td>
                            {% else %}
                            <td>Не назначено</td>
                            {% endif %}
                        </tr>
                        <tr>
                                <td>Владелец</td>
                            {% if account.get_apartment %}
                                <td><a href="{% url 'admin_user-detail' pk=account.get_apartment.user.id %}">{{ account.get_apartment.user }}</a></td>
                            {% else %}
                                <td>Нет владельца</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Остаток грн.</td>
                            {% if account.get_money >= 0 %}
                                <td style="color: #00a65a">{{ account.get_money }} грн.</td>
                            {% else %}
                                <td style="color: red">{{ account.get_money }} грн.</td>
                            {% endif %}
                        </tr>
                    </table>
                    <div class="col">
                        {% if account.get_apartment %}
                        <a href="{% url 'admin_counters-filter' pk=account.id %}">Посмотреть показания счётчиков</a>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="col">
                        <a href="{% url 'admin_account-transaction-filter' pk=account.id %}">Посмотреть приходы</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'admin_invoice-filter' pk=account.id %}">Посмотреть квитанции</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
</section>
{% endblock %}