{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Статьи приходов/расходов</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Статьи приходов/расходов</li>
{% endblock %}
{% block main_content %}
     <section class="content" style="min-height: 60px">
        <a href="{% url 'admin_transaction-purpose-create' %}" class=" btn btn-success pull-right">Добавить статью</a>
    </section>
    <section class="content input-form">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <table class="table table-bordered table-hover table-striped linkedRow">
                <thead>
                <tr>
                    <th>Название№</th>
                    <th>Приход/расход</th>
                    <th style="width: 80px; min-width: 80px">&nbsp;</th></tr>
                </tr>
                </thead>
                <tbody>
                {% if transfer_type.count > 0 %}
                {% for el in transfer_type %}
                    <tr data-href="{% url 'admin_transaction-purpose-change'  pk=el.pk %}">
                        <td>{{ el.name }}</td>
                        {% if el.status == 'Приход' %}
                        <td style="color: #00a65a">{{ el.status }}</td>
                        {% else %}
                        <td style="color: red">{{ el.status }}</td>
                        {% endif %}
                        <td>
                            <div class="btn-group pull-right">
                                <a class="btn btn-default btn-sm" href="{% url 'admin_transaction-purpose-change' pk=el.pk %}" title="Редактировать" data-toggle="tooltip">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-default btn-sm" href="{% url 'admin_transaction-purpose-delete' pk=el.pk %}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3"><div class="empty">Ничего не найдено.</div></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    <script>
    $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
    });
    </script>
{% endblock %}