{% extends 'admin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_title %}
    <h1 class="m-0">Новое сообщение</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'admin_message' %}">
            Сообщения
        </a>
    </li>
    <li class="breadcrumb-item">Новое сообщение</li>
{% endblock %}
{% block main_content %}
    <section class="content input-form">
        <div class="container-fluid">
            <div class="card card-secondary card-outline">
                <div class="default-area">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form">
                            {{ form.title }}
                        </div>
                        <div class="form">
                            {{ form.text }}
                        </div>
                        <h4>Кому отправить:</h4>
                        <div class="form d-flex justify-content-start">
                            <label style="padding-right: 5px">Пользователям с задолжностью</label>
                            {{ form.indebtedness }}
                        </div>
                        <div class="row" id="select-house" style="display: block; margin-top: 35px">
                            <label>ЖК</label>
                            {{ form.house|as_crispy_field }}
                        </div>
                        <div class="row" id="select-section" style="display: block">
                            <label>Секция</label>
                            {{ form.section |as_crispy_field}}
                        </div>
                        <div class="row" id="select-floor" style="display: block">
                            <label>Этаж</label>
                            {{ form.floor |as_crispy_field}}
                        </div>
                        <div class="row" id="select-apartment" style="display: block">
                            <label>Квартира</label>
                            {{ form.apartment |as_crispy_field}}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <a href="{% url 'admin_message' %}" type="button" class="btn btn-default margin-bottom-15">Отмена</a>
                        <input type="submit" class="btn btn-success margin-bottom-15" value="Сохранить">
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'base/js/selectupdate.js' %}"></script>
    <script>
        $('#select-house').find('select').each(function() {
            $(this).on("change", function() {
                var select_house = $(this);
                var selected_house = select_house.prop('selectedIndex');
                var options = select_house.prop('options');
                $('#select-section').find('select').each(function() {
                    var select_section = $(this);
                    var select_plug = "Все";
                    select_section.find('option').remove().end();
                    select_section.append(new Option(select_plug, ""));
                    $.get("/api/section/?house="+options[selected_house].value, function(data) {
                        for(var i=0; i < data.length; i++) {
                            select_section.append(new Option(data[i]['name'], data[i]['id']));
                        }
                    });
                });
            });
        });
        $('#select-section').find('select').each(function() {
            $(this).on("change", function() {
                var select_section = $(this);
                var selected_section = select_section.prop('selectedIndex');
                var options = select_section.prop('options');
                $('#select-floor').find('select').each(function() {
                    var select_floor = $(this);
                    var select_plug = "Все";
                    select_floor.find('option').remove().end();
                    select_floor.append(new Option(select_plug, ""));
                    $.get("/api/floor/?section="+options[selected_section].value, function(data) {
                        for(var i=0; i < data.length; i++) {
                            select_floor.append(new Option(data[i]['name'], data[i]['id']));
                        }
                    });
                });
            });
        });
        $('#select-floor').find('select').each(function() {
            $(this).on("change", function() {
                var select_floor = $(this);
                var selected_floor = select_floor.prop('selectedIndex');
                var options = select_floor.prop('options');
                $('#select-apartment').find('select').each(function() {
                    var select_apartment = $(this);
                    var select_plug = "Все";
                    select_apartment.find('option').remove().end();
                    select_apartment.append(new Option(select_plug, ""));
                    $.get("/api/apartment/?floor="+options[selected_floor].value, function(data) {
                        for(var i=0; i < data.length; i++) {
                            select_apartment.append(new Option(data[i]['name'], data[i]['id']));
                        }
                    });
                });
            });
        });

    </script>
{% endblock %}