{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Сообщения</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Сообщения</li>
{% endblock %}
{% block main_content %}
    <section class="content" style="min-height: 60px">
       <a href="{% url 'admin_message-create' %}" class=" btn btn-success pull-right">Написать сообщение</a>
    </section>
    <section class="content input-form">
         <div class="container-fluid">
            <div class="card card-secondary card-outline table-responsive">
                <table class="table table-bordered table-hover table-striped linkedRow">
                <div class="col-3">
                </div>
                    <thead>
                    <div class="col-3">
                         <form action="{% url 'admin_message-search' %}">
                            {% csrf_token %}
                            <input type="text" name="message_search" value="" class="form-control input-sm" placeholder="Поиск">
                        </form>
                    </div>
                        <form method="POST" enctype="multipart/form-data" action="{% url 'admin_message-delete-list'%}">
                            {% csrf_token %}
                            <div class="pull-right">
                                <input type="submit" class="btn btn-default margin-bottom-15 pull-right" value="Удалить" style="margin: 0 5px">
                            </div>
                    <tr>

                        <th style="width: 40px; min-width: 40px"><input type="checkbox" name="select-all" id="select-all" /></th>
                        <th>Получатели</th>
                        <th>Текст</th>
                        <th style="width: 120px">Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if messages.count > 0 %}
                    {% for el in messages %}
                        <tr data-href="{% url 'admin_message-detail'  pk=el.pk %}">
                            <td><input type="checkbox"  name="checks" value="{{el.id}}">
                            <td>{{ el.destination }}</td>
                            <td>{{ el.get_short_text|safe }}</td>
                            <td style="min-width: 180px">{{ el.created_date|date:"d.m.Y - H:i" }}</td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4"><div class="empty">Ничего не найдено.</div></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </form>
            </div>
         </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
    $('.linkedRow tbody tr').click(function() {
        var url = $(this).data('href');
        if (url) {
            document.location.href = $(this).data('href');
        }
    }).find('a, button, input, select, textarea').hover(function() { // Список тегов при наведении на которые, не будет происходить переход по ссылке
        $(this).parents('tr').unbind('click');
    }, function() {
        $(this).parents('tr').click(function() {
            var url = $(this).data('href');
            if (url) {
                document.location.href = $(this).data('href');
            }
        });
    });
    $('#select-all').click(function(event) {
        if(this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function() {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });
    </script>
{% endblock %}