{% extends 'admin/base.html' %}
{% load static %}
{% block main_content %}
    <section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="page-header">В вашем обслуживании</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ houses }}</h3>
                    {% if houses == 1 %}
                    <p>Дом</p>
                    {% else %}
                    <p>Домов</p>
                    {% endif %}
                </div>
                <div class="icon">
                    <i class="fas fa-building"></i>
                </div>
                <a href="{% url 'admin_house' %}" class="small-box-footer">
                    Перейти в дома <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ active_user }}</h3>
                    {% if active_user == 1 %}
                    <p>Активный пользователь</p>
                    {% else %}
                    <p>Активных пользователей</p>
                    {% endif %}
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="{% url 'admin_user' %}" class="small-box-footer">
                    Перейти к владельцам <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ master_request }}</h3>
                    {% if master_request == 1 %}
                    <p>Заявка мастера в работе</p>
                    {% else %}
                    <p>Заявок мастера в работе</p>
                    {% endif %}
                </div>
                <div class="icon">
                    <i class="fas fa-wrench"></i>
                </div>
                <a href="{% url 'admin_master-request' %}" class="small-box-footer">
                    Перейти в заявки <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ apartment }}</h3>
                    <p>Квартир</p>
                </div>
                <div class="icon">
                    <i class="fas fa-key"></i>
                </div>
                <a href="{% url 'admin_apart' %}" class="small-box-footer">
                    Перейти в квартиры <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="far fa-money-bill-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Баланс по счетам, грн</span>
                    <span class="info-box-number">{{ account_balance }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ account }}</h3>
                    <p>Лицевых счетов</p>
                </div>
                <div class="icon">
                    <i class="fas fa-child"></i>
                </div>
                <a href="{% url 'admin_account' %}" class="small-box-footer">
                    Перейти к счетам <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="far fa-money-bill-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Состояние кассы, грн</span>
                    <span class="info-box-number">{{ system_balance }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ master_request_new }}</h3>
                    <p>Новых заявок мастера</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <a href="{% url 'admin_master-request' %}" class="small-box-footer">
                    Перейти в заявки <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
             <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="far fa-money-bill-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Задолженность по счетам, грн</span>
                    <span class="info-box-number">{{ account_arrears }}</span>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--            <div class="box box-default">-->
<!--                <div class="box-header with-border">-->
<!--                    <h3 class="box-title">График погашения квитанций, грн</h3>-->
<!--                </div>-->
<!--                <div class="box-body">-->
<!--                   <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col">
            <div class="card card-secondary card-outline" style="border-top: 3px solid #d2d6de">
                <div class="box-header with-border">
                    <h3 class="box-title" style="padding-left: 5px">График приходов и расходов по кассе, грн</h3>
                    <canvas id="InvoiceChart" style="max-height: 360px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-secondary card-outline" style="border-top: 3px solid #d2d6de">
                <div class="box-header with-border">
                    <h3 class="box-title" style="padding-left: 5px">График приходов и расходов по кассе, грн</h3>
                    <canvas id="TransferChart" style="max-height: 360px"></canvas>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    var endpoint = '/api/chart/data'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels = data.labels
            inputData = data.input_transfer
            outputData = data.output_transfer
            var ctx = document.getElementById("TransferChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Расход',
                        borderColor: 'rgba(221, 75, 57, 1)',
                        backgroundColor: 'rgba(221, 75, 57, 1)',
                        data: outputData,
                    },
                    {
                        label: 'Приход',
                        borderColor: 'rgba(0, 166, 90, 1)',
                        backgroundColor: 'rgba(0, 166, 90, 1)',
                        data: inputData,
                    }]
                }
            })

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })
    </script>
    <script>
    var endpoint = '/api/chart/data'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels = data.labels
            inputData = data.input_invoice
            outputData = data.output_invoice
            var ctx = document.getElementById("InvoiceChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Задолженность',
                        borderColor: 'rgba(221, 75, 57, 1)',
                        backgroundColor: 'rgba(221, 75, 57, 1)',
                        data: outputData,
                    },
                    {
                        label: 'Погашение задолженности',
                        borderColor: 'rgba(0, 166, 90, 1)',
                        backgroundColor: 'rgba(0, 166, 90, 1)',
                        data: inputData,
                    }]
                }
            })

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })
    </script>
{% endblock %}