{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Редактирование услуг</h1>
{% endblock %}
{% block main_content %}
    <section class="content input-form">
        <div class="container-fluid">
            <div class="card card-secondary card-outline">
                <div class="default-area">
                    <div>
                      <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    var endpoint = '/api/chart/data'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels = data.labels
            inputData = data.input
            outputData = data.output
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Расход',
                        borderColor: 'red',
                        backgroundColor: 'red',
                        data: outputData,
                    },
                    {
                        label: 'Приход',
                        borderColor: 'green',
                        backgroundColor: 'green',
                        data: inputData,
                    }]
                }
            })

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })
    </script>
{% endblock %}