{% extends 'admin/base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}
    <h1 class="m-0">Новая заявка</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'admin_master-request' %}">
            Вызов мастера
        </a>
    </li>
    <li class="breadcrumb-item">Новая заявка</li>
{% endblock %}
{% block main_content %}
    <section class="content input-form">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="col-md-6">
                    {{ form.date }}
                </div>
                <div class="col-md-6">
                    {{ form.time }}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card card-secondary card-outline">
                    <div class="default-area">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="col" id="select-owner">
                                        <label>Владелец квартиры</label>
                                        {{ form.owner|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Описание</label>
                                    {{ form.description|as_crispy_field  }}
                                </div>
                                <div class="col">
                                    <label>Квартира</label>
                                    <div id="select-apartment">
                                        {{ form.apartment|as_crispy_field }}
                                    </div>
                                    <label>Тип мастера</label>
                                    {{ form.master_type|as_crispy_field }}
                                    <label>Статус</label>
                                    {{ form.status|as_crispy_field }}
                                    <label>Мастер</label>
                                    {{ form.master|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <label>Комментарий</label>
                                {{ form.comment }}
                            </div>
                            <div class="row d-flex justify-content-end">
                                <a href="{% url 'admin_account-transaction' %}" type="button" class="btn btn-default margin-bottom-15">Отмена</a>
                                <input type="submit" class="btn btn-success margin-bottom-15" value="Сохранить">
                            </div>
                        </div>
                </div>
            </div><!-- /.container-fluid -->
    </form>
</section>
{% endblock %}
{% block scripts %}
<script>
$('#select-owner').find('select').each(function() {
        $(this).on("change", function() {
            var select_owner = $(this);
            var selected_owner  = select_owner .prop('selectedIndex');
            var options = select_owner .prop('options');
            $('#select-apartment').find('select').each(function() {
                var select_apartment = $(this);
                var select_plug = "Сделайте выбор ... ";
                select_apartment.find('option').remove().end();
                select_apartment.append(new Option(select_plug, ""));
                $.get("/api/apartment/?user="+options[selected_owner].value, function(data) {
                    for(var i=0; i < data.length; i++) {
                        select_apartment.append(new Option(data[i]['name'], data[i]['id']));
                    }
                });
            });
        });
});
</script>
{% endblock %}