{% extends 'admin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    <h1 class="m-0">Квитанции на оплату</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Квитанции на оплату</li>
{% endblock %}
{% block main_content %}
<section class="content input-form">
        <div class="container-fluid">
            <div class="card card-secondary card-outline">
                <div class="default-area">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3" id="select-house">{{ form.house|as_crispy_field }}</div>
                        <div class="col-md-3" id="select-section">{{ form.section|as_crispy_field }}</div>
                        <div class="col-md-3" id="select-apartment">{{ form.apartment|as_crispy_field }}</div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
let selects = $('select');

for(let i = 0; i < selects.length; i++) {
  selects[i].addEventListener("change", () => {
    var sel = selects[i].selectedIndex;
    var options = selects[i].options;
    alert('Выбрана опция '+options[sel].text+' - '+options[sel].value);
  });
}
</script>
{% endblock %}