{% extends 'admin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    <h1 class="m-0">Квитанции на оплату</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Квитанции на оплату</li>
{% endblock %}
{% block main_content %}
    <section class="content input-form">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="col-md-6">
                    {{ invoice_form.number }}
                </div>
                <div class="col-md-6">
                    {{ invoice_form.date }}
                </div>
            </div>
            </div>
            <div class="container-fluid">
                <div class="card card-secondary card-outline">
                    <div class="default-area">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="row" id="select-house" style="display: block; margin-top: 35px">
                                    <label>Дом</label>
                                    {{ invoice_form.house }}
                                </div>
                                <div class="row" id="select-section" style="display: block">
                                    <label>Секция</label>
                                    {{ invoice_form.section }}
                                </div>
                                <div class="row" id="select-apartment" style="display: block">
                                    <label>Квартира</label>
                                    {{ invoice_form.apartment }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-check d-flex justify-content-start input-form-height-20">
                                    {{ invoice_form.status }}
                                    <label>Проведена</label>
                                </div>
                                <div class="row" style="display: block">
                                    <label>Статус</label>
                                    {{ invoice_form.type|as_crispy_field }}
                                </div>
                                <div class="row" style="display: block">
                                    <label>Тариф</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Период с</label>
                                        {{ invoice_form.period_from }}
                                    </div>
                                    <div class="col">
                                        <label>Период по</label>
                                        {{ invoice_form.period_to }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Услуга</th>
                                            <th>Расход</th>
                                            <th>Ед. изм.</th>
                                            <th>Цена за ед., грн.</th>
                                            <th>Стоимость, грн.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {{ tariff_invoice_formset.management_form }}
                                    {% for form in tariff_invoice_formset %}
                                        <tr>
                                            <div class="tariff-invoice-form-area">
                                                {{ form.id }}
                                                <td>{{ form.service|as_crispy_field }}</td>
                                                <td>{{ form.amount }}</td>
                                                <td>ЕД ИЗМ</td>
                                                <td>{{ form.price }}</td>
                                                <td></td>
                                        <tr>
                                        {% endfor %}
                                            <td colspan="4">
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-secondary" id="add-tariff-invoice-form">Добавить услугу</button>
                                                    <button type="button" class="btn btn-secondary" id="add-tariff-service-form">Установить все услуги согласно тарифу</button>
                                                    <button type="button" class="btn btn-secondary" id="add-tariff-service-form">Добавить показания счётчиков</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <div class="row d-flex justify-content-start">
                                <input type="submit" class="btn btn-success margin-bottom-15" value="Сохранить">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'base/js/selectupdate.js' %}"></script>
<script>
$('#select-house').find('select').each(function() {
        $(this).on("change", function() {
            var select_house = $(this);
            var selected_house = select_house.prop('selectedIndex');
            var options = select_house.prop('options');
            $('#select-section').find('select').each(function() {
                var select_section = $(this);
                var select_plug = "Сделайте выбор ... ";
                select_section.find('option').remove().end();
                select_section.append(new Option(select_plug, ""));
                $.get("/api/section/?house="+options[selected_house].value, function(data) {
                    for(var i=0; i < data.length; i++) {
                        select_section.append(new Option(data[i]['name'], data[i]['id']));
                    }
                });
            });
        });
});
$('#select-section').find('select').each(function() {
        $(this).on("change", function() {
            var select_section = $(this);
            var selected_section = select_section.prop('selectedIndex');
            var options = select_section.prop('options');
            $('#select-apartment').find('select').each(function() {
                var select_apartment = $(this);
                var select_plug = "Сделайте выбор ...";
                select_apartment.find('option').remove().end();
                select_apartment.append(new Option(select_plug, ""));
                $.get("/api/floor/?section="+options[selected_section].value, function(data) {
                    data_floor = data;
                    for(var i=0; i < data_floor.length; i++) {
                        $.get("/api/apartment/?floor="+data_floor[i]['id'], function(data) {
                            data_apartment = data;
                            for(var i=0; i < data.length; i++) {
                                select_apartment.append(new Option(data_apartment[i]['name'], data_apartment[i]['id']));
                            }
                        });
                    }
                });
            });
        });
});

</script>
    <script src="{% static 'base/js/dynamicforms.js' %}"></script>
    <script src="{% static 'base/js/requestwithoutreload.js' %}"></script>
    <script>
    let tariff_invoice_prefix = 'tariff_invoice_form';
    let tariff_invoice_form = '.tariff-invoice-form-area';
    let tariff_invoice_counter = '.tariff_invoice-form-counter';

    document.addEventListener('DOMContentLoaded', function(){ addHiddenForm(tariff_invoice_prefix, tariff_invoice_form) }, false);
    $('#add-tariff-invoice-form').click(function() { addChoiseForm(tariff_invoice_prefix, tariff_invoice_form, tariff_invoice_counter); });
    $('.del-tariff-invoice-form').click(function() { delForm(this, tariff_invoice_prefix, tariff_invoice_form, tariff_invoice_counter); });
    </script>
    <script>
    $('.del-tariff-service-form').click(function(){
        var deleteURL = $(this).attr("href");
        token = $("input[name='csrfmiddlewaretoken']").val();
        data = {'csrfmiddlewaretoken':token}
        if (deleteURL != '#') requestWithoutReload(deleteURL, data);
    });
    </script>
{% endblock %}