{% extends 'admin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    <h1 class="m-0">Квитанции на оплату</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Квитанции на оплату</li>
{% endblock %}
{% block main_content %}
    <section class="content input-form">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="col-md-6">
                    {{ invoice_form.number }}
                </div>
                <div class="col-md-6">
                    {{ invoice_form.date }}
                </div>
            </div>
            </div>
            <div class="container-fluid">
                <div class="card card-secondary card-outline">
                    <div class="default-area">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="row" id="select-house" style="display: block; margin-top: 35px">
                                    <label>Дом</label>
                                    {{ invoice_form.house|as_crispy_field }}
                                </div>
                                <div class="row" id="select-section" style="display: block">
                                    <label>Секция</label>
                                    <select name="invoice_form-section" class="select form-control custom-select" required="" id="id_invoice_form-section">
                                      <option value="" selected="">Выберите...</option>
                                    </select>
                                </div>
                                <div class="row" id="select-apartment" style="display: block">
                                    <label>Квартира</label>
                                    {{ invoice_form.apartment |as_crispy_field}}
                                </div>
                                <div class="row" style="display: block">
                                    <b>Лицевой счёт:</b> <a id="label-account">неизвестно</a>
                                </div>
                                <div class="row" style="display: block">
                                    <b>Владелец:</b> <a id="label-owner">неизвестно</a>
                                </div>
                                <div class="row" style="display: block">
                                    <b>Телефон:</b> <a id="label-phone">неизвестно</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-check d-flex justify-content-start input-form-height-20">
                                    {{ invoice_form.status }}
                                    <label>Проведена</label>
                                </div>
                                <div class="row" style="display: block">
                                    <label>Статус</label>
                                    {{ invoice_form.type|as_crispy_field }}
                                </div>
                                <div class="row" style="display: none">
                                    <label>Тариф</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Период с</label>
                                        {{ invoice_form.period_from }}
                                    </div>
                                    <div class="col">
                                        <label>Период по</label>
                                        {{ invoice_form.period_to }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <div class="row">
                                <div class="col-2" style="text-align: center;">
                                    <label>Услуга</label>
                                </div>
                                <div class="col-2" style="text-align: center;">
                                    <label>Расход</label>
                                </div>
                                <div class="col-2" style="text-align: center;">
                                    <label>Единица измерения</label>
                                </div>
                                <div class="col-2" style="text-align: center;">
                                    <label>Цена за еденицу</label>
                                </div>
                            </div>
                                    {{ tariff_invoice_formset.management_form }}
                                    {% for form in tariff_invoice_formset %}
                                        {{ form.id }}
                                        <div class="tariff-invoice-form-area">
                                            <div class="row">
                                                <div class="col-2">
                                                    {{ form.service|as_crispy_field }}
                                                </div>
                                                <div class="col-2">
                                                    {{ form.amount }}
                                                </div>
                                                <div class="col-2">
                                                    <div class="input-measure form-control disabled" style="margin: 0.25rem 0; color: grey;" >???</div>
                                                </div>
                                                <div class="col-2">
                                                    {{ form.price }}
                                                </div>
                                                <div class="col-1">
                                                    {% if form.instance.id %}
                                                    <a class="btn btn-default btn-sm del-tariff-service-form" href="{% url 'admin_tariffs-service-delete' form.instance.id %}" title="Удалить" style="padding: .5rem; margin-top: 4px">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                    {% else %}
                                                    <a class="btn btn-default btn-sm del-tariff-service-form" href="#" title="Удалить" style="padding: .5rem; margin-top: 4px">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                            <div class="form-title-line">
                                <div><button type="button" class="btn btn-secondary" id="add-tariff-invoice-form">Добавить тариф</button></div>
                                <div>
                                    <b>Итого:</b>
                                    <a class="amount-price">0</a> грн
                                </div>
                            </div>
                            <div class="row d-flex justify-content-start">
                                <input type="submit" class="btn btn-success margin-bottom-15" value="Сохранить">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-secondary card-outline">
                    <div class="default-area">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Статус</th>
                            <th>Дата</th>
                            <th>Месяц</th>
                            <th>Дом</th>
                            <th>Секция</th>
                            <th>№ квартиры</th>
                            <th>Счётчик</th>
                            <th>Показания</th>
                            <th>Ед. изм</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if meter.count > 0 %}
                        {% for el in meter %}
                            <tr data-href="{% url 'admin_meter-data-detail'  pk=el.pk %}">
                                <td>{{ el.number }}</td>
                                {% if el.status == 'Новое' %}
                                    <td style="color: #ffffff; text-align: center"><small class="label label-warning">Новое</small></td>
                                {% elif el.status == 'Учтено' %}
                                    <td style="color: #ffffff; text-align: center"><small class="label label-success">Учтено</small></td>
                                {% elif el.status == 'Учтено и оплаченно' %}
                                    <td style="color: #ffffff; text-align: center"><small class="label label-success">Учтено и оплаченно</small></td>
                                {% elif el.status == 'Нулевое' %}
                                    <td style="color: #ffffff; text-align: center"><small class="label label-warning">Нулевое</small></td>
                                {% endif %}
                                <td>{{ el.date|date:"d.m.Y" }}</td>
                                <td>{{ el.date|date:"M Y" }}</td>
                                <td>{{ el.apartment.floor.section.house.name }}</td>
                                <td>{{ el.apartment.floor.section.name }}</td>
                                <td>{{ el.apartment.name }}</td>
                                <td>{{ el.service.name }}</td>
                                <td style="background-color: #DFD5">{{ el.counter }}</td>
                                <td style="background-color: #DFD5">{{ el.service.measure.name }}</td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10"><div class="empty">Ничего не найдено.</div></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'base/js/selectupdate.js' %}"></script>
<script>
$('#select-house').find('select').each(function() {
        $(this).on("change", function() {
            var select_house = $(this);
            var selected_house = select_house.prop('selectedIndex');
            var options = select_house.prop('options');
            $('#select-section').find('select').each(function() {
                var select_section = $(this);
                var select_plug = "Сделайте выбор ... ";
                select_section.find('option').remove().end();
                select_section.append(new Option(select_plug, ""));
                $.get("/api/section/?house="+options[selected_house].value, function(data) {
                    for(var i=0; i < data.length; i++) {
                        select_section.append(new Option(data[i]['name'], data[i]['id']));
                    }
                });
            });
        });
});
$('#select-section').find('select').each(function() {
        $(this).on("change", function() {
            var select_section = $(this);
            var selected_section = select_section.prop('selectedIndex');
            var options = select_section.prop('options');
            $('#select-apartment').find('select').each(function() {
                var select_apartment = $(this);
                var select_plug = "Сделайте выбор ...";
                select_apartment.find('option').remove().end();
                select_apartment.append(new Option(select_plug, ""));
                $.get("/api/floor/?section="+options[selected_section].value, function(data) {
                    data_floor = data;
                    for(var i=0; i < data_floor.length; i++) {
                        $.get("/api/apartment/?floor="+data_floor[i]['id'], function(data) {
                            data_apartment = data;
                            for(var i=0; i < data.length; i++) {
                                select_apartment.append(new Option(data_apartment[i]['name'], data_apartment[i]['id']));
                            }
                        });
                    }
                });
            });
        });
});
$('#select-apartment').find('select').each(function() {
        $(this).on("change", function() {
            var select_section = $(this);
            var selected_section = select_section.prop('selectedIndex');
            var options = select_section.prop('options');
            $.get("/api/apartment/"+options[selected_section].value, function(apart_data) {
                $.get("/api/account/"+apart_data['account'], function(acc_data) {
                    $('#label-account').text(acc_data['wallet'])
                })
                $.get("/api/user/"+apart_data['user'], function(usr_data) {
                    $('#label-owner').text(usr_data['last_name'] +' '+ usr_data['first_name'] +' '+ usr_data['middle_name'])
                    $('#label-phone').text(usr_data['number'])
                })
            })
        });
});

</script>
    <script src="{% static 'base/js/dynamicforms.js' %}"></script>
    <script src="{% static 'base/js/requestwithoutreload.js' %}"></script>
    <script>
    function number_change(){
                var forms = document.getElementsByClassName('tariff-invoice-form-area')
                var result = 0
                for (let i = 0; i < forms.length; i++) {
                    form = forms[i]
                    var price = form.getElementsByClassName('invoice-price')[0].value
                    var amount = form.getElementsByClassName('invoice-amount')[0].value
                    result = result + price * amount
                }
                document.getElementsByClassName('amount-price')[0].innerText = result
    }
    function number_change_event(fields){
        for (let i = 0; i < fields.length; i++) {
            fields[i].addEventListener('change', function(){
                number_change()
            })
        }
    }
    function measure_rewrite(){
        var forms = document.getElementsByClassName('tariff-invoice-form-area')
        for (let i = 0; i < forms.length; i++) {
                    var form = forms[i]
                    console.log(form)
                    var selected_service = form.getElementsByTagName('select')[0]
                    var selected_service = selected_service.selectedIndex
                    if (selected_service != 0){

                        var measure_element = form.getElementsByClassName('input-measure')[0]
                        $.get("/api/measure/"+selected_service, function(msr_data) {
                            measure_element.value = msr_data['name']
                        })
                    }
        }
    }

    let tariff_invoice_prefix = 'tariff_invoice_form';
    let tariff_invoice_form = '.tariff-invoice-form-area';
    let tariff_invoice_counter = '.tariff_invoice-form-counter';

    document.addEventListener('DOMContentLoaded', function(){ addHiddenForm(tariff_invoice_prefix, tariff_invoice_form) }, false);
    $('#add-tariff-invoice-form').click(function() {
        let list = addChoiseForm(tariff_invoice_prefix, tariff_invoice_form, tariff_invoice_counter)
        let elements = []
        for (i = 0; i < list.length; i++){
            let el_id = list[i]
            let el = document.getElementById(el_id)
            elements.push(el)
        }
        number_change_event(elements)
        measure_rewrite()
    });
    $('.del-tariff-service-form').click(function() { delForm(this, tariff_invoice_prefix, tariff_invoice_form, tariff_invoice_counter)});

    $('.del-tariff-service-form').click(function(){
        var deleteURL = $(this).attr("href");
        token = $("input[name='csrfmiddlewaretoken']").val();
        data = {'csrfmiddlewaretoken':token}
        if (deleteURL != '#') requestWithoutReload(deleteURL, data);
    });
    number_change()
    number_change_event(document.getElementsByClassName('invoice-change-event'))
    $('.tariff-invoice-form-area.select').on('click', measure_rewrite)

</script>
    <script>
    let floor_prefix = 'floor_form';
    let floor_form = '.floor-form-area';
    let floor_counter = '.floor-form-counter';
    document.addEventListener('DOMContentLoaded', function(){ addHiddenForm(floor_prefix, floor_form) }, false);
    $('#add-floor-form').click(function() { addChoiseForm(floor_prefix, floor_form, floor_counter); });
    $('.del-house-floor-form').click(function() { delForm(this, floor_prefix, floor_form, floor_counter); });
    </script>
    <script>
     $('.del-house-floor-form').click(function(){
        var deleteURL = $(this).attr("href");
        token = $("input[name='csrfmiddlewaretoken']").val();
        data = {'csrfmiddlewaretoken':token}
        if (deleteURL != '#') requestWithoutReload(deleteURL, data);
    });
    </script>
{% endblock %}