{% extends 'admin/base.html' %}
{% load static %}
{% block page_title %}
    <h1 class="m-0">{{ house.name }}</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'admin_house' %}">
            Дома
        </a>
    </li>
    <li class="breadcrumb-item active">{{ house.name }}</li>
{% endblock %}
{% block main_content %}
<section class="content input-form">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <div class="default-area" style="margin: 0">
                <div class="row d-flex justify-content-end">
                    <div class="box-header with-border" style="margin: 0">
                        <div class="box-tools">
                            <a href="{% url 'admin_house-change' pk=house.id %}" class="btn btn-default btn-sm">Редактировать дом</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <table class="table table-bordered table-striped table-view">
                            <tbody>
                                <tr>
                                    <td>Название</td>
                                    <td>{{ house.name }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td>
                                    <td>{{ house.address }}</td>
                                </tr>
                                <tr>
                                    <td>Секций</td>
                                    <td>{{ sections.count }}</td>
                                </tr>
                                <tr>
                                    <td>Этажей</td>
                                    <td>{{ floor_count}}</td>
                                </tr>
                                <tr>
                                    <td>Пользователи</td>
                                    <td>
                                        {% if user_count %}
                                            {% for user in user_count %}
                                                <b>{{ user.user.user_type }}: </b><a href="{% url 'admin_user-admin-detail' pk=user.user_id %}">{{ user.user}}</a>
                                            {% endfor %}
                                        {% else %}
                                            <p>Нет пользователей</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 col-lg-4" style="margin-top: 0">
                        <div class="row" style="margin-top: 0">
                            <div class="col-xs-12 col-md-6">
                                <img src="{% if house.image1 %}{{ house.image1.url }}{% else %}{% static 'no_icon.png' %}{% endif %}" class="img-responsive smallImg" alt="">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <img src="{% if house.image2 %}{{ house.image2.url }}{% else %}{% static 'no_icon.png' %}{% endif %}" class="img-responsive smallImg" alt="">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 0">
                            <div class="col-xs-12 col-md-6">
                                <img src="{% if house.image3 %}{{ house.image3.url }}{% else %}{% static 'no_icon.png' %}{% endif %}" class="img-responsive smallImg" alt="">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <img src="{% if house.image4 %}{{ house.image4.url }}{% else %}{% static 'no_icon.png' %}{% endif %}" class="img-responsive smallImg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4" style="margin-top: 0">
                        <div class="row" style="margin-top: 0">
                            <div class="col-xs-12 col-md-6">
                                <img src="{% if house.image5 %}{{ house.image5.url }}{% else %}{% static 'no_icon.png' %}{% endif %}" class="img-responsive largeImg" alt="" style="width: 350px; height: 335px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}