{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Счётчики</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Счётчики</li>
{% endblock %}
{% block main_content %}
    <section class="content" style="min-height: 60px">
       <a href="{% url 'admin_meter-data-create' %}" class=" btn btn-success pull-right">Добавить показание</a>
    </section>
    <section class="content input-form">
         <div class="container-fluid">
            <div class="card card-secondary card-outline table-responsive">
                <table class="table table-bordered table-hover table-striped linkedRow">
                    <thead>
                    <tr>
                        <th style="width: 300px">Дом</th>
                        <th style="width: 300px; max-width: 100%">Секция</th>
                        <th style="width: 160px">№ Квартиры</th>
                        <th>Счётчик</th>
                        <th style="width: 100px">Текущие показания</th>
                        <th style="width: 100px">Ед. изм.</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if counters.count > 0 %}
                    {% for el in counters %}
                        <tr data-href="{% url 'admin_counter-house-view'  pk=el.apartment.pk %}">
                            <td>{{ el.apartment.floor.section.house.name }}</td>
                            <td>{{ el.apartment.floor.section.name }}</td>
                            <td>{{ el.apartment }}</td>
                            <td>{{ el.service.name }}</td>
                            <td style="background-color: #DFD5">{{ el.counter }}</td>
                            <td style="background-color: #DFD5">{{ el.service.measure.name }}</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-default btn-sm" href="{% url 'admin_meter-data-create' %}" title="Добавить новое показание" data-toggle="tooltip">
                                            <i class="fas fa-tachometer-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-sm" href="{% url 'admin_counter-house-view' pk=el.pk %}" title="Подробнее" data-toggle="tooltip">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </div>
                                </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7"><div class="empty">Ничего не найдено.</div></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
         </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
    $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
    });
    </script>
{% endblock %}