{% extends 'admin/base.html' %}
{% block page_title %}
    <h1 class="m-0">Редактирование услуг</h1>
{% endblock %}
{% block pagination_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'admin_index' %}">
            <i class="fas fa-home"></i>
            Главная</a>
    </li>
    <li class="breadcrumb-item active">Редактирование услуг</li>
{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary card-outline">
            <div class="default-area">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#services" data-toggle="tab">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="#measure" data-toggle="tab">Единицы измерения</a></li>
                </ul>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="default-area">
                    <div class="tab-content">
                        <div class="active tab-pane show" id="services">
                            <div class="container">
                                Услуга
                                <div class="row">
                                    <div class="col-sm">
                                        1
                                    </div>
                                    <div class="col-sm">
                                        2
                                    </div>
                                    <div class="col-sm">
                                        3
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="measure">
                            <div class="container">
                                Ед. изм.
                                <div class="row">
                                    <div class="col-sm">
                                        1
                                    </div>
                                    <div class="col-sm">
                                        2
                                    </div>
                                    <div class="col-sm">
                                        3
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <div class="default-area default-half text-center">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}